<body>
<p id="notice"><%= notice %></p>

  <h1>What you have TODO !</h1>

<div class="tableau">
<table>
  <thead>
    <tr>
      <th>Tâche</th>
      <th>Commentaire</th>
      <th>Pour le</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.commentaire %></td>
        <td><%= task.for %></td>
        <div class="bouton"><td><%= link_to 'Edit', edit_task_path(task) %></td></div>
        <div class="bouton"><td><%= link_to 'Destroy', task, method: :delete %></td></div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="create">
<%= link_to 'New Task', new_task_path %>
</div>
</div>
</body>
